<div class="text-center container">
    <div class="row jumbotron">
        <h1>My To Do List Apps</h1>
        <p>Built on Rails</p>
    </div>
    <div class="row">
        <%= link_to "View To Do List", items_path, class: 'btn btn-large btn-primary' %>
    </div>
</div>